@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Roboto:ital,wght@1,900&display=swap');

:root {
  --primary: #f9d806;
  --primary-light: #ffee80;
  --black: #130f40;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  height: 2000px;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  border-radius: 0.5rem;
  background-color: var(--primary-light);
  color: var(--black);
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.burger-button {
  font-size: 2.5rem;
  color: var(--light-color);
  cursor: pointer;
  display: none;
}

.burger-button.fa-times {
  transform: rotate(180deg);
}

.user-icon {
  font-size: 2.5rem;
  color: var(--light-color);
  cursor: pointer;
  display: none;
}

.btn:hover {
  background-color: var(--primary);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 3rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  z-index: 999;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: 600;
  white-space: nowrap;
}

.header .logo span {
  color: var(--primary);
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
}

.header .navbar a:hover {
  color: var(--primary);
}

.header.active {
  box-shadow: var(--box-shadow);
  padding: 2rem 9%;
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  .header.active {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .user-icon {
    display: block;
  }

  .header .btn {
    display: none;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    border-bottom: var(--border);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }

  .burger-button {
    display: block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
